

/* --------- CORPO DA PÁGINA -----*/
body {background-color:  #e9e0d1;}

/*------ MENU ------*/
.menu
{   
    background-color: #91a398;
    height: 20px;
    padding: 10px; /* espaço entre borda e conteudo*/

}

.menu ul
    {   
        list-style: none /* retirar icones da lista */;
        margin: 0; /* posicionar lista com a faixa do menu*/
        padding: 0; /* espaçamento entre lista e margem da esquerda*/
    }

.menu ul li 
    {
        float: left; /* colocar itens na mesma linha*/
    }

.menu ul li a
    {
        padding: 6px;
        font-family: arial narrow;
        font-size: 15px;
        color: #33605a;
        font-weight: bold; /* negrito */
        text-transform: uppercase; /* todas as letras maiusculas*/
        text-decoration: none; /* retirar sublinhado */
    }

.menu ul li a:hover
    {
        background: #e9e0d1; /* cor de fundo quando passa o cursor*/
        color: #33605a;
    }

/* ---------- H1 ----------*/
h1 {
    font-size: 50px;
    color: #33605a;
    text-align: center;
    font-family: garamond;
}

p {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: garamond;
}

/* ---------- TABELA -----------*/
table
    {
        width: 80%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        color: #91a398;
        border-color: #33605a;
        border-collapse: collapse;
    }

th 
    {
        font-weight: bolder;
        font-size: 30px;
        color: #33605a;
        height: 50px;
    }

td
    {
        font-weight: bold;
        text-align: center;
        font-size:20px;
        width: 25%;
    }

a
    {
        color: #33605a;
    }

.subtitulo{
    background-color: #91a398;
    color: #33605a;
    font-weight: bold;
}

.trabalho{
    color: #33605a;
}

.foto{
    width: 900px;
    height: 600px;
    border-radius: 15px;
}